@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}


html {
  font-family: "Permanent Marker", cursive;
  color: rgb(245, 245, 245);
  height: 115%;
}

.landing {
  height: 101%;
  
  background: url("./assets/bg2.webp");
  background-size: cover;
  background-position-y: center;
}
.flower {
  font-family: "Ysabeau SC", sans-serif;
}

.branches {
  
  background: url("./assets/dragon.png"), linear-gradient(rgba(0, 0, 0, 0.616), rgba(0,0,0,0.2));
  background-size: cover;
  background-position-y: center;
}
.navbar {
  
  background: url("./assets/dragon2.png"), linear-gradient(rgba(13, 18, 29, 0.849), rgba(13, 18, 29, 0.863));
  background-size: cover;
  background-position-y: bottom;
}

/* CSS code */
.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.progress-bar {
  width: 0%;
  height: 20px;
  margin-bottom: 10px;
  background-color: blue;
}
.progress-value {
  font-size: 18px;
}
button {
  font-size: 18px;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: lightgray;
}
button:disabled {
  background-color: gray;
}